*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  height: 100px;
}
body{
    background-color: #000;
    align-items: center;
    
}
audio {
  width: 1px;
  height: 1px;
  opacity: initial;
}
#aline_center{
    min-width: auto;
    min-height: auto;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    border-radius: 10px;
    animation: animate 3s infinite;
    margin: -150px -145px;
}
p{
  color: #fff;
  font-size: 50px;
  margin: -191px 115px;
  animation: mau .5s infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
  animation: xoayvong 10s linear 0s infinite;
}
 
button{
  background: rgba(0,0,0,0.5); ;
}
@keyframes mau{
  0%{
    color: violet;

  }
  25%{
    color: rgb(214, 16, 138);
  }
  50%{
    color: red;
  }
  100%{
    color: black;
  }

}
span{
  position: absolute;
  width: 10px;
  height: 80px;
  background:aqua;
  
  animation: a 10s infinite;
  transform: translateY(-200px);
}
@keyframes a{
  0%{
    transform: translateY(-100px);
  }
  50%{
    filter: hue-rotate(360deg);

  }
  100%{
    transform: translateY(2000px);
  }
}
@keyframes animate {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(.8);
    }
    60% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

#aline_center img{
    width: 300px;
    height: 300px;
    
    
}

